.team_header{
    font-size : 45px;
    font-family : "LINESeedKR-Bd";
    text-align: center;
    margin-top : 20px;
}
.team_logo_image {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.team_logo_image img {
    height: 90px;
    margin-top: 15px;
    opacity : 0.7;
}

@media screen and (max-width : 800px){
    .team_logo_image img {
        height : 70px;
    }

    .team_team_name {
        font-size : 15px;
    }
}

.team_team_name {
    margin : 20px 7px;
    font-size : 15.5px;
    text-align: center;
}

.team_team_info {
    display : flex;
    flex-direction : column;
    align-items: center;
    margin : 0px 0px 15px 0px;
    margin-top : auto;
}

.team_team_info p {
    text-align : center;
    font-family : "LINESeedKR-Th";
    color : gray;
    font-weight : 600;
    font-size : 15px;
    margin : 0px 0px 10px 0px;
    transition : all ease-in-out 450ms;
}

.team_team_page:hover {
    color : #003566;
    transform: scale(1.05);
}

.team_team_schedule:hover {
    color : #003566; 
    transform: scale(1.05);
}

.team_team_roster:hover {
    color : #003566; 
    transform: scale(1.05);
}

